body {
  background-color: #333333;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: opacity 300ms;
}

a:hover {
  opacity: 0.5;
}

.app {
  min-height: 100vh;
  max-width: 108rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", "Roboto", sans-serif;
  overflow: hidden;
}

.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
  opacity: 0;
  transition: 300ms;
}

.transparent {
  opacity: 0;
  transition: opacity ease 300ms;
}

.fixed {
  position: fixed;
}

.topMargin6rem {
  margin-top: 6rem;
}

.error-parent-cont {
  color: white;
  margin: auto;
}

.link-no-hover:hover {
  cursor: default;
  opacity: 1;
}

.link-no-hover-cells:hover {
  opacity: 1;
}

.blurred {
  filter: blur(3px);
}
