.footer {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 3rem 0 0 0;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
}

.footer__home {
  position: fixed;
  bottom: -1px;
  height: 30vh;
  mask: linear-gradient(180deg, #0000 0%, #000 65%);
  pointer-events: none;
  z-index: -1;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 100;
  opacity: 0.3;
}

@media (max-width: 1279px) {
  .footer__home {
    height: 25vh;
  }
}
