.header {
  width: 101vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  background-color: #222222;
}

.header__wrapper {
  width: 65%;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
}

.header__item {
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__group {
  flex: 1;
  height: 100%;
  display: flex;
}

.header__link {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.auth-dialog__buttons {
  display: flex;
}

@media (max-width: 1279px) {
  .header {
    height: 6rem;
  }

  .header__wrapper {
    margin: 0 1rem 0 1rem;
    width: 100%;
  }

  .header__item {
    width: 100%;
    justify-content: flex-end;
  }
}
